name: 'Pull Request'

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Set Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: 'Install'
        run: |
          npm install
      - name: 'Prettier'
        run: |
          npm run format-check
      - name: 'build'
        run: |
          npm run package

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Set Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: 'Build action for test'
        run: |
          npm install
          npm run all
          git clean -fXd
      - name: Test executing the action
        uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          comment: 'Test adding comment to PR'
          exclusive: false

  release:
    runs-on: ubuntu-24.04
    name: 'Build and release action'
    needs: [build, test]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true
      - name: Configure git
        uses: smartlyio/github-actions@git-init-userinfo-v1
      - name: Release flow
        uses: smartlyio/github-actions@release-action-node-v1
        with:
          dry_run: true
          token: '${{ secrets.GITHUB_TOKEN }}'
