name: Build and release the action

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Set Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: 'Install'
        run: |
          npm install
      - name: 'Prettier'
        run: |
          npm run format-check
      - name: 'build'
        run: |
          npm run package

  release:
    runs-on: ubuntu-24.04
    name: 'Build and release action'
    needs: [build]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true
      - name: Configure git
        uses: smartlyio/github-actions@git-init-userinfo-v1
      - name: Release flow
        uses: smartlyio/github-actions@release-action-node-v1
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
